<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/application.css">
	<head>
	 	<title>Quora Clone</title>
	 	<link rel="icon" type="image/png" href="http://2.bp.blogspot.com/-lGPJWYMWkVU/U6wLrMFV4vI/AAAAAAAAB9Q/TPTa-F3WoQY/s1600/quora.png">
	</head>
	<body>
		<%= yield %>
	</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

<script type="text/javascript" src="/js/application.js"></script>
</html>